.content-width {
  max-width: 70ch;
  width: calc(100% - 4rem);
  margin: 0 auto;
}

@font-face {
  font-family: "Departure Mono";
  src: url('assets/departure_mono/DepartureMono-Regular.woff') format("woff"),
        url('assets/departure_mono/DepartureMono-Regular.otf') format("otf"),
        url('assets/departure_mono/DepartureMono-Regular.woff2') format("woff")
}

body{
  font-family: "Departure Mono", Verdana, monospace;
  background-color: #eeeeee;
  text-align: center;
  align-content:  center;

}

.title{
  margin-top: 50%;
  margin-bottom: 50%;
}
.card{
  align-self: center;
}
.goose{
  background-color: #da483c;
  color: #ffa824;
}
.crow {
  background-color: #00857a;
  color: #fd932f;
}
small{
  color: #000;
}
footer{
  margin-top: 5%;
  margin-bottom: 2.5%;
  align-content: center;
}